# Assignment 3

Please do not change, delete or edit any cells. Write your code in between designated lines.

## Question 1 (15 points)

In [1]:
# Create a dictionary named dict1 then add key and values.
# When you print output of dict1 will be shown as {'Peas': 55, 'Canola': 66, 'Oat': 65}.

## Your code here - down ##
dict1 = {
  "Peas": "55",
  "Canola": "66",
  "Oat": 65
}
print(dict1)
## Your code here - up ##

{'Peas': '55', 'Canola': '66', 'Oat': 65}

In [3]:
# In this cell you need to change the assigned value of Peas to 66 and print dict1 again.

## Your code here - down ##
dict1.update({"Peas": "66",})
print(dict1)

## Your code here - up ##

{'Peas': '66', 'Canola': '66', 'Oat': 65}

In [7]:
# Now use For Loop and print values and key inside dict1. Your output will look like:
# Peas
# 66
# and so on.

## Your code here - down ##
for i in dict1:
    print (i, '\n', dict1[i])
## Your code here - up ##

Peas
 66
Canola
 66
Oat
 65

## Question 2 (30 points)

In [22]:
ls = [2,7,9, 4]

# Method 1
# Ceate a list that consist of square of ls values.

## Your code here - down ##
def square(ls):
    ls2 =  [i ** 2 for i in ls]
    return ls2
print(square(ls))

## Your code here - up ##

[4, 49, 81, 16]

In [23]:
# Method 2

## Your code here - down ##
for i in range(len(ls)):
    ls[i] = ls[i]**2
print (ls)   
## Your code here - up ##

[4, 49, 81, 16]

## Question 3 (55 points)

In [29]:
import numpy as np
ar_1 = np.array([[3, 4, 5],
                 [3, 4, 5]])
# What is shape of the array?

## Your code here - down ##

print(ar_1.shape)
## Your code here - up ##

(2, 3)

In [35]:
ar_2 = ([[3, 4, 5],
         [8, 4, 1]])
# Print first row of ar_2

## Your code here - down ##
ar_2[0]
## Your code here - up ##

[3, 4, 5]

In [37]:
# Write a code that will print 1 in ar_2.

## Your code here - down ##
ar_2[-1][-1]
## Your code here - up ##

1

In [45]:
# Print entire mean of ar_2

## Your code here - down ##
sm = 0
for i in ar_2:
    sm = sm + sum (i)
mean = sm /len(ar_2)    
print(mean)
## Your code here - up ##

12.5

In [53]:
# Print each columns' mean

## Your code here - down ##
col_1 = (ar_2[0][0] +ar_2[1][0])/2
print (col_1)

col_2 = (ar_2[0][1] +ar_2[1][1])/2
print (col_2)

col_3 = (ar_2[0][2] +ar_2[1][2])/2
print (col_3)

## Your code here - up ##

5.5
4.0
3.0

In [57]:
# Print entire standard deviation  of ar_2

## Your code here - down ##
np.std(ar_2)
## Your code here - up ##

2.1147629234082532

In [60]:
# Print each rows' standard deviation.

## Your code here - down ##
print(np.std(ar_2[0]))
print(np.std(ar_2[1]))
## Your code here - up ##

0.816496580927726
2.8674417556808756

In [63]:
# Find the difference between mean and median of entire ar_2.

## Your code here - down ##
print(np.mean(ar_2))
print(np.median(ar_2))
## Your code here - up ##

4.166666666666667
4.0

Are mean and median same? If they are different, explain what does that mean.

Please explain below in this cell only.

The mean and the median are different from each other and it means that the distribution of the data is not symmetric.