# Assignment 4


Please do not change, delete or edit any cells. Write your code in between designated lines.

import pandas as pd
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns## Question 1 (25 points)

In [ ]:

# Please go to Palette_training_4 GitHub repo and 
# 1. Read Sask_RM_data.csv.
# 2. Rename column namse Crop Year, Canola - bu/ac, Spring Wheat - bu/ac with
# Year, Canola, SpringWheat respectively.

In [2]:
# 1. Read csv file by using pandas 

## Your code here - down ##
from google.colab import drive
drive.mount('/content/drive/')

import pandas as pd
import numpy as np
#import geopandas as gpd
import matplotlib.pyplot as plt
import seaborn as sns

fl = "/content/drive/MyDrive/AgriTech-Peogram/GIS/Sask_RM_Data.csv"
df = pd.read_csv(fl)

print(df.head())
## Your code here - up ##

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
   Crop Year  RM  Canola - bu/ac  Spring Wheat - bu/ac
0       2012   1            22.3                  36.2
1       2012   2            28.6                  37.2
2       2012   3            25.1                  39.4
3       2012   4            21.6                  31.6
4       2012   5            26.8                  29.0

In [3]:
# 2. Rename columns

## Your code here - down ##
df = df.rename({'Crop Year': 'Year', 'Canola - bu/ac': 'Canola', 'Spring Wheat - bu/ac': 'SpringWheat'}, axis=1)
print(df.head())
## Your code here - up ##

   Year  RM  Canola  SpringWheat
0  2012   1    22.3         36.2
1  2012   2    28.6         37.2
2  2012   3    25.1         39.4
3  2012   4    21.6         31.6
4  2012   5    26.8         29.0

Question 2 (65 points)

In [4]:
# 1. How many missing values in each column? 

## Your code here - down ##

print(df.isna().sum())
## Your code here - up ##

Year            0
RM              0
Canola         45
SpringWheat    51
dtype: int64

In [6]:
# 2. Find unique values of RMs(Rural Municipalities).

## Your code here - down ##
RMU = df.RM.unique()
print(RMU)
## Your code here - up ##

[  1   2   3   4   5   6   7   8   9  10  11  12  17  18  19  31  32  33
  34  35  36  37  38  39  40  42  43  44  45  46  49  51  61  63  64  65
  66  67  68  69  70  71  72  73  74  75  76  77  78  79  91  92  93  94
  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109 110 111 121
 122 123 124 125 126 127 128 129 130 131 132 133 134 135 136 137 138 139
 141 142 151 152 153 154 155 156 157 158 159 160 161 162 163 164 165 166
 167 168 169 171 181 183 184 185 186 187 189 190 191 193 194 211 213 214
 215 216 217 218 219 220 221 222 223 224 225 226 228 229 230 231 232 241
 243 244 245 246 247 248 250 251 252 253 254 255 256 257 259 260 261 271
 273 274 275 276 277 279 280 281 282 283 284 285 286 287 288 290 292 301
 303 304 305 307 308 309 310 312 313 314 315 316 317 318 319 320 321 322
 331 333 334 335 336 337 338 339 340 341 342 343 344 345 346 347 349 350
 351 352 366 367 368 369 370 371 372 373 376 377 378 379 380 381 382 394
 395 397 398 399 400 401 402 403 404 405 406 409 410 411 426 427 428 429
 430 431 434 435 436 437 438 439 440 442 456 457 458 459 460 461 463 464
 466 467 468 469 470 471 472 486 487 488 490 491 493 494 496 497 498 499
 501 502 520 555 561 588 622]

In [7]:
# 3. Use groupby() and find top 10 RMs in terms of average Canola yield through 10 years.

## Your code here - down ##
dfc = df.groupby("RM")['Canola'].mean()
print(dfc.sort_values().head(10))
## Your code here - up ##

RM
46     17.132500
51     18.735000
43     20.669000
45     22.461429
19     23.199000
142    24.173000
171    24.768000
18     25.450000
11     25.993000
106    26.521000
Name: Canola, dtype: float64

In [8]:
# 4. Use groupby() function and find worst 10 RMs in terms of average Spring Wheat through 10 years.

## Your code here - down ##
dfw = df.groupby("RM")['SpringWheat'].mean()
print(dfw.sort_values().head(10))
## Your code here - up ##

RM
44     20.339000
10     21.168571
69     22.418000
45     22.920000
40     23.265000
19     24.163000
51     24.683000
101    24.993000
9      25.364000
70     25.807000
Name: SpringWheat, dtype: float64

In [9]:
# 4. Use groupby() function and find worst 3 best years in terms of average Spring Wheat.

## Your code here - down ##
dfy = df.groupby("Year")['SpringWheat'].mean()
print(dfy.sort_values(ascending=[True]).head(3))
## Your code here - up ##

Year
2021    30.216725
2012    34.831633
2015    37.016599
Name: SpringWheat, dtype: float64

In [10]:
# 5. Use groupby() function and find worst 3 years in terms of average Spring Wheat through 10 years.

## Your code here - down ##
avg_production_year = df.groupby('Year')['SpringWheat'].mean()
print(avg_production_year.sort_values().head(3))
## Your code here - up ##

Year
2021    30.216725
2012    34.831633
2015    37.016599
Name: SpringWheat, dtype: float64

## Question 3 (10 points)

This task is independent exploratory data analysis. Find key insights from the dataset and share your code by creating new cells.

In [12]:
# Lowest year in Canola vs. Top year in Spring Wheat
dfsw = df.groupby("Year")['SpringWheat'].mean()
print("Top year in Spring Wheat:")
print(dfsw.sort_values().head(1))
print('\n')
dfc = df.groupby("Year")['Canola'].mean()
print("Top year in Canola:")
print(dfc.sort_values().head(1))

Top year in Spring Wheat:
Year
2021    30.216725
Name: SpringWheat, dtype: float64


Top year in Canola:
Year
2021    21.858276
Name: Canola, dtype: float64